apiVersion: v1
kind: ConfigMap
metadata:
  name: apps-env
  namespace: apps
data:
  SPRING_PROFILES_ACTIVE: staging

  # Monitoring endpoints
  PROMETHEUS_REMOTE_WRITE_ENDPOINT: "http://prom-stack-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"
  TEMPO_PUSH_API_ENDPOINT: "http://tempo-distributor.monitoring.svc.cluster.local:4318/v1/traces"
  LOKI_PUSH_API_ENDPOINT: "http://loki-loki-distributed-gateway.monitoring.svc.cluster.local/loki/api/v1/push"

  # Redis
  REDIS_HOST: "redis.infras.svc.cluster.local"
  REDIS_PORT: "6379"
  REDIS_SENTINEL_PORT: "26379"

  # Kafka
  KAFKA_HOST: "kafka.infras.svc.cluster.local"
  KAFKA_PORT: "9092"
  KAFKA_REPLICAS_COUNT: "3"

  # MySQL
  MYSQL_HOST: "mysql-primary.infras.svc.cluster.local"
  MYSQL_PORT: "3306"
  MYSQL_USER: "admin"
  MYSQL_PASSWORD: "admin"

  # API Gateway
  API_GATEWAY_HOST: "api-gateway"
  API_GATEWAY_PORT: "8080"

  # Shop Service
  SHOP_SVC_HOST: "shop-service"
  SHOP_SVC_API_PORT: "8081"

  # Auth Service
  AUTH_SVC_HOST: "auth-service"
  AUTH_SVC_API_PORT: "8082"

  # Inventory Service
  INVENTORY_SVC_HOST: "inventory-service"
  INVENTORY_SVC_API_PORT: "8083"
  INVENTORY_SVC_GRPC_PORT: "9093"
